  <img id="image" src={{meme.url}} hidden >

  <div class="container mt-5 d-flex">
    <div>
      <canvas id="myCanvas" width="{{meme.width}}" height="{{meme.height}} "></canvas>
    </div>

    <div class="inputs">
      <input type="text" [(ngModel)]="textTop" (keyup)="onKeyUp()">
      <input type="text" [(ngModel)]="textBottom" (keyup)="onKeyUp()">



      <input type="range" [(ngModel)]="b"> {{b}} {{typeof(b)}}
dsada

      <input type="range" max="4" min="0.1" step="0.01" [(ngModel)]="scale" (change)="onKeyUp()">
      <input type="range" max="360" min="0" step="1" [(ngModel)]="rotate" (change)="onKeyUp()">

      <button class="btn btn-center"><a download href="{{hrefMeme}}">Download</a></button>
    </div>
  </div>


